<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information Form</title>
    <link rel="stylesheet" href="/styles/style.css">
    <style>
        h1 {
            color: blue;
            margin-bottom: 20px;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        .content {
            background: #39ff6a;
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Enter Information</h1>
        <form action="/submit-information" method="post">
            <label for="first-name">First Name:</label>
            <input type="text" id="first-name" name="first_name"><br>
      
            <label for="last-name">Last Name:</label>
            <input type="text" id="last-name" name="last_name"><br>
      
            <label for="age">Age:</label>
            <input type="number" id="age" name="age"><br>
      
            <button type="submit">Submit</button>
      </form>
    </div>
</body>
</html>
